@import "theme_pinkish.less";

// @title1_size: 24px;
// @title2_size: 20px;
// @title3_size: 18px;

// @text1_size: 18px;
// @text2_size: 16px;
// @text3_size: 14px;
@title1_size: 40px;
@title2_size: 32px;
@title3_size: 20px;

@text1_size: 24px;
@text2_size: 18px;
@text3_size: 16px;


.central {
    align-content: center;
    text-align: center;
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}
.central-vertically {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin: auto;
}

.main1 {

    height: 85vh;
    width: 90vw;
    background: @div1;
    border-radius: 30px;
    margin: auto;

    padding: 2px 8px;


    h1, h2 {
        color: @title1;
        font: bold @title1_size;
    }

    a, label, span, h3, h4 {
        color: @text1;
        font: @text1_size;
    }
    
    button {
        background-color: @button1bg;
    }
}

.level1 {
    //background-color: transparent;

    h1, h2 {
        color: @title1;
        font-size: @title1_size;
    }

    a, label, span, h3, h4, input {
        color: @text1;
        font-size: @text1_size;
    }
}

.level2
{
    //background-color: @div2;

    h1, h2 {
        color: @title2;
        font-size: @title2_size;
    }

    a, label, span, h3, h4, input {
        color: @text2;
        font-size: @text2_size;
    }
}

.level3
{

    h1, h2 {
        color: @title3;
        font-size: @title3_size;
    }

    a, label, span, h3, h4 {
        color: @text3;
        font-size: @text3_size;
    }
}

button {
    background: @button1bg;
    color: @button1text;
    border: solid 2px @div1;
    border-radius: 8px;
    min-width: 100px;
    min-height: 25px;
    font-size: large;
    &:hover {
        background-color: @div3;
    }
}

input {
    padding: 2px 10px;
    border-radius: 10px;
    min-height: 22px;
    border: 2px solid #2e2d2d2f;
    font-size: 15px;
    color: @input1text;
    background: @input1bg;
}

select {
    border-radius: 5px;
    min-height: 25px;
    padding: 5px;
    color: @select1text;
    background: @select1bg;
}

h1, h2 {
    color: @title1;
    font: bold @title1_size;
    margin: 10px;
}

h3, h4 {
    color: @title2;
    font: @title1_size;
    margin: 10px;
}

::-webkit-input-placeholder {
    color: @accent2;
}